@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;1,200;1,300;1,500&family=Pacifico&family=Viga&display=swap');
/* navbar */
.navbar{
    position: relative;
    z-index: 1;
}
.navbar-brand{
    font-family: "viga";
    font-size: 32px;
}
/* utility */
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
}
/* jumbotron */
.jumbotron{
    background-image: url(./img/jumbotron-bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}
.jumbotron .container{
    position: relative;
    z-index: 1;
}
.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient(to top,rgb(0,0,0,1), rgb(0,0,0,0));

    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    color: white;
    margin-top: 150px;
    font-weight: 200;
    font-size: 41px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.6 );
    margin-bottom: 30px;

}
.jumbotron .display-4 span {
    font-weight:500;
}
/* info panel */
.info-panel{
 box-shadow: 0 3px 20px rgb(0, 0, 0, 0.5 );
 border-radius: 12px;
 background-color: white;
 margin-top: -100px;
 padding: 30px;
}
.info-panel img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p{
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}
/* workingspace */
.workingspace{
    margin-top: 120px;
    text-align: center;
}

.workingspace h3{
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}
.workingspace span{
    font-weight: 500;
}
.workingspace p{
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}
/* testimonial */

.testimonial{
    margin-top: 100px;
}
.testimonial h5{
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}
.testimonial figure img{
    width: 60px;
    margin: 20px 10px 10px;
    opacity: 0.6;
}

.testimonial figure img.utama{
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}


.testimonial figure h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal ;
    color: #1c2c5d;
}

.testimonial figure p{
    font-size: 12px;
    color: #acacac;
    margin-top: -5px;
}

.testimonial figcaption {
    text-align: center;
}



.footer {
    margin-top: 100px;
}
.footer p{
 color: #acacac;
 font-size: 18px;
}







/* desktop */
@media (min-width: 992px) {
    .navbar-brand, .nav-link { 
        color: white !important;
        text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.7 );
    }


    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom:  3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }
    .jumbotron .display-4 {
        font-size: 62px;
    }

.workingspace {
    text-align: left;
}
.testimonial h5 {
    font-size: 32px;
}
}